nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: black;
}

.sidebar-ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    font-size: 15px;
}

.sidebar-ul li {
    width: 100%;
    padding: 0 9px;
    text-align: center;
    color: #1e1e1e;
}
.link {
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    padding: 6px 12px;
    border-radius: 12px;
}

.link:hover {
    color: #04c4b7;
}


.logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}

.hamburger-icon {
    display: none;
}

.hamburger-icon i {
    font-size: 20px;
    margin-top: 3px;
}

.hamburger-ul {
    background-color: black;
    padding: 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 12px;
    position: absolute;
    top: 55px;
    right: 15px;
    /* width: 130px; */
    border: 1px solid white;
    text-align: center;
}

.hamburger-ul .link {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width:1150px) {
    .link {
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .sidebar-ul {
        gap: 20px;
    }
    .sidebar-ul li {
        padding: 0 13px;
    }
    .link {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .sidebar-ul {
        display: none;
    }
    nav {
        background-color: black;
        display: flex;
        justify-content: flex-end;
        padding: 15px 20px;
        width: 100vw;
        height: 55px;
    }
    .logo {
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        width: 25px;
    }
    .link {
        font-size: 14px;
    }
    .hamburger-icon {
        display: block;
        color: white;
    }
}